/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: justify;
}



/* Here 
finishes 
the 
reset 
CSS */

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body{
  background-color: rgb(233, 215, 188);
  padding: 1em;
}

hr{
  background-color: rgb(243, 200, 137);
  border: 0.1em solid rgb(248, 195, 115);
  border-radius: 0.1em;
}

section{
  width: 116.5em;
  border: 1em solid rgb(248, 195, 115);
  border-radius: 5em;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: bisque;
}

/* Margin de los bordes hacia fuera
y padding es de los bordes hacia dentro */

h1, h2{
  padding: 1.5rem;
}

h1{
  margin-top: 1.5em;
}

#p{
  padding-left: 4.5em;
}

nav{
  display: flex;
  gap: 5em; /* Separación entre cosas
  dependiendo de cómo se tenga organizado
  (horizontal o vertical */
  padding: 20px;

  padding-left: 3em;
  background-color: rgb(248, 195, 115);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 20px;
}

a{
  color: brown;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
  color: rgb(70, 18, 18);
}

img{
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(71, 18, 18, 0.3);
}

#proyects, #animals{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.🐜{
  margin: 1.5em;
}

.papa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}